# Gradle
.gradle/
build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Android build & native build
captures/
.externalNativeBuild/
.cxx/

# Build artifacts
*.apk
*.aab
output-metadata.json

# Keystores / signing
*.jks
*.keystore

# Google Services
google-services.json

# Profiling
*.hprof

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

